<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <!-- franka_description (current layout): Panda is now called "fer"
       (Franka Emika Research robot). Joints get prefixed "fer_" by
       default (fer_joint1..7, fer_link0..8), later renamed to "panda_*"
       via generate_panda_urdf.sh so names match moveit_resources_panda_
       moveit_config's SRDF/kinematics/joint_limits. -->
  <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>

  <xacro:franka_robot
    robot_type="fer"
    connected_to="world"
    hand="true"
    ee_id="franka_hand"
    gazebo="true"
    no_prefix="false"
    arm_prefix=""
  />

  <gazebo reference="panda_link0">
    <static>true</static>
    <kinematic>true</kinematic>
  </gazebo>

  <gazebo reference="fer_joint_world">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find inspectra_description)/config/inspectra_controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
